<form [formGroup]="form1" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>change password for </label>
    <select formControlName="user" id="user" class="custom-select form-control" required [ngClass]="{ 'is-invalid': submitted && user.errors }">
      <option value='user' >User</option>
      <option value='admin'>admin</option>
   </select>
    <label>Old Password</label>
    <input
      formControlName="oldPwd"
      id="oldPwd"
      type="password"
      class="form-control" />
    <div class="alert alert-danger" *ngIf="oldPwd.touched && oldPwd.invalid">
      <div *ngIf="oldPwd.errors.required">Old Password is required.</div>
      <div *ngIf="oldPwd.errors.verifPwd">Old Password is not valid.</div>
    </div>
  </div>

  <div class="form-group">
    <label>New Password</label>
     <input
      formControlName="newPwd"
      id="newPwd"
      type="password"
      class="form-control" />
    <div class="alert alert-danger" *ngIf="newPwd.touched && newPwd.invalid">
      <div *ngIf="newPwd.errors.required">New Password is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label>Confirm Password</label>
     <input
      formControlName="confirmPwd"
      id="confirmPwd"
      type="password"
      class="form-control" />
    <div class="alert alert-danger" *ngIf="confirmPwd.touched && confirmPwd.invalid">
      <div *ngIf="confirmPwd.errors.required">Confirm Password is required.</div>
    </div>
    <div class="alert alert-danger" *ngIf="confirmPwd.valid && form1.invalid && form1.errors.pwdsDontMatch">
      Passwords do not match.
    </div>
  </div>

  <button class="btn btn-primary">Change Password</button>

</form>
