<app-navbar></app-navbar>
<app-chat></app-chat>

<!-- <div *ngIf="answer" class="alert alert-success alert-dismissible fade show alert-trim" role="alert">
  {{answer}}  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button></div>
  <div *ngIf="fieldmissing" class="alert alert-danger alert-dismissible fade show alert-trim" role="alert">
    You should select a field ! <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button></div> -->
  <div class="fd">
<fieldset class="border p-2 form-group">
  <legend class="w-auto">Add synonyms to database fields:</legend>
  <form [formGroup]="FieldsForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
        <div class="form-group col">
            <label for="fieldTable">Please choose a table</label>
            <select formControlName="fieldTable" id="fieldTable" class="custom-select form-control fc" required [ngClass]="{ 'is-invalid': submitted && f.fieldTable.errors }">
               <option *ngFor= "let table of tables" [value]="table">{{table}}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
      <div class="form-group col">

      <button type="button" class="btn btn-outline-success" data-toggle="collapse" href="#choosecolumn" role="button" aria-expanded="false" aria-controls="choosecolumn">Choose column</button>
      </div>
    </div>
        <div class="collapse" id="choosecolumn">

        <div class="form-group row " >
             <div class="form-group col">
              <label for="fieldColumn">Please choose a column</label>

           <select formControlName="fieldColumn" id="fieldColumn" class="custom-select form-control fc">
                <option *ngFor= "let column of columns" [value]="column"> {{column}}</option>
            </select>
        </div>
      </div>
    </div>
        <div class="form-group row">
          <div class="bouton">
            <button type="button" class="btn btn-dark bouton" data-toggle="collapse" href="#addFile" role="button" aria-expanded="false" aria-controls="addFile" (click)="verifField()">Add a file</button>
          </div>
            <div class="col">
              <button type="button" class="btn btn-dark" data-toggle="collapse" href="#sendSynonyms" role="button" aria-expanded="false" aria-controls="addFile" (click)="clicked()">Edit manually</button>
          </div>
        </div>

         <div id="collapse">
          .<div  class="custom-file collapse fichier" id="addFile" data-parent=#collapse>
            <input  formControlName="addFile" (change)="onFileChange($event)" type="file" accept=".txt" class="custom-file-input form-control-file" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
         </div>
          <div class="collapse" id="sendSynonyms" data-parent=#collapse>
            <table #dataTable class=" table table-responsive table-sm  table-hover center">
              <thead class="thead-dark">
                <tr>
                  <th><button class="btn btn-light" data-target=#Addmodal data-toggle="modal">
                    Add
                  </button></th>
                  <th>Synonym</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class=" table table-striped">
                <tr *ngFor="let syn of synonyms">
                  <td class ="fit">{{syn.id}}</td>
                  <td class ="fit">{{syn.synonym}}</td>
                  <td class ="fit">
                  <button type="button" class="btn btn-danger" (click)="Remove(syn)">Remove</button>
                  <button type="button" class="btn btn-secondary" (click)="SetToEditSyn(syn)" data-target=#Editmodal data-toggle="modal"> Edit</button>
                  </td>
                </tr>
                </tbody>

            </table>
          </div>
        <div class="modal fade" tabindex="-1" id="Addmodal"
        data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title md">Add synonym</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="inputUserName">new synonym</label>
                        <input class="form-control" placeholder="Enter new synonym"
                                type="text" id="newSynonym" [(ngModel)]="newSynonym" [ngModelOptions]="{standalone: true}" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="AddSynonym()">Add</button>
                <button type="button" class="btn btn-primary"data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" id="Editmodal"
data-keyboard="false" data-backdrop="static">
<div class="modal-dialog modal-sm">
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            &times;
        </button>
        <h4 class="modal-title md">Edit synonym</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="inputUserName">Edit syn</label>
                <input class="form-control" type="text" id="toEditSyn" [(ngModel)]="toEditSyn.synonym" [ngModelOptions]="{standalone: true}" (keyup.enter)="EditSynonym()"  />
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="EditSynonym()" >Save</button>
        <button type="button" class="btn btn-primary"data-dismiss="modal">Close</button>
    </div>
</div>
</div>
</div>

    <div class="center-text">
      <button type="submit" class="btn btn-info button1">Submit</button>
      <button class="btn btn-secondary button2" type="reset" (click)="onReset()">Cancel</button></div>



</form>
</fieldset>
</div>

