<fieldset class="border p-2">
  <legend class="w-auto">Add synonyms to database fields:</legend>
  <form [formGroup]="FieldsForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
        <div class="form-group col">
            <label for="fieldTable">Please choose a table</label>
            <select formControlName="fieldTable" id="fieldTable" class="custom-select form-control" required [ngClass]="{ 'is-invalid': submitted && f.fieldTable.errors }">
               <option *ngFor= "let table of tables" [value]="table">{{table}}</option>

            </select>
        </div>
    </div>
        <div class="form-group row">
          <div class="form-group col">


            <label for="fieldTable">Please choose a column</label>

            <select formControlName="fieldColumn" id="fieldColumn" class="custom-select form-control">
                <option *ngFor= "let column of columns" [value]="column"> {{column}}</option>
            </select>
            <!-- <div *ngIf="submitted && f.field.errors" class="invalid-feedback">
                <div *ngIf="f.field.errors.required">You should select at least one field</div>
            </div> -->
        </div>
      </div>
        <div class="form-group row">
          <div class="bouton">
            <button type="button" class="btn btn-dark bouton" data-toggle="collapse" href="#addFile" role="button" aria-expanded="false" aria-controls="addFile">Add a file</button>
          </div>
            <div class="col">
              <button type="button" class="btn btn-dark" data-toggle="collapse" href="#sendSynonyms" role="button" aria-expanded="false" aria-controls="addFile" (click)="clicked()">Enter synonyms in textarea</button>
          </div>
        </div>

         <div id="collapse">
          .<div  class="custom-file collapse fichier" id="addFile" data-parent=#collapse>
            <input  formControlName="addFile" (change)="onFileChange($event)" type="file" accept=".txt" class="custom-file-input form-control-file" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
          <div class="collapse" id="sendSynonyms" data-parent=#collapse>
            <table #dataTable class="content-table table table-sm  table-hover" style="width:100%">
              <thead>
                <tr >
                  <th>ID</th>
                  <th>Synonym</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let syn of synonyms | async" [attr.id]="syn.id">
                  <td>{{syn.id}}</td>
                  <td>{{syn.synonym}}</td>
                  <td><button type="button" class="btn btn-danger" (click)="Remove(syn.id)">Remove</button>
                  </td>
                </tr>
                </tbody>

            </table>
          </div>
        </div>

    <div class="center-text">
      <button type="submit" class="btn btn-info button1">Submit</button>
      <button class="btn btn-secondary button2" type="reset" (click)="onReset()">Cancel</button></div>

</form>
</fieldset>



