<form [formGroup]="f" onsubmit="OnSubmit()">
  <div class="form-group">
<label for ="username"> Username</label>
<input #username type ="text" required placeholder="exp:root" formControlName="dbusername" class="form-control">
<label for ="dbname"> Password</label>
<input #dbpassword type ="password" required placeholder="your password" formControlName="dbpassword" class="form-control">
<label for ="dbname"> Database name</label>
<input #dbname type ="text" required placeholder="exp:wevioo_db" formControlName="dbname" class="form-control">
<label for ="dbhost"> Host</label>
<input #dbhost type ="text" required placeholder="exp:localhost" formControlName="dbhost" class="form-control">
<label for ="dbdriver"> Driver</label>
<input #dbdriver type ="text" required placeholder="exp:mysql" formControlName="dbdriver" class="form-control">
<label for ="dbdialect"> Dialect</label>
<input #dbdialect type ="text" required placeholder="exp:pymysql" formControlName="dbdialect" class="form-control">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>

