<div class ="center">
<table datatable [dtOptions]="dtOptions" class="row-border hover">

<thead>
  <tr>
    <th>ID</th>
    <th>price</th>
    <th>name</th>
    <th>category</th>

  </tr>
</thead>
<tbody>
  <tr *ngFor="let product of products">
    <td>{{ product.id }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.category }}</td>
  </tr>
</tbody>
</table>
</div>

<!-- <table datatable [dtOptions]="dtOptions" class="table row-border hover" *ngIf="this.temp">
  <thead>
    <tr *ngFor ="let key of keys">
      <th>{{key}}</th>
    </tr>
  </thead>
  <tbody>
     <div *ngFor="let value of values">
    <tr *ngFor="let v of value">
      <td>{{v}}</td>
    </tr>
  </div>
 </tbody>
</table> -->
